{
    // Use the AirBnB JS styleguide - https://github.com/airbnb/javascript
    'extends': 'airbnb',
    // We use 'babel-eslint' mainly for React Native Classes
    'parser': 'babel-eslint',
    'ecmaFeatures': {
        'classes': true,
    },
    // We can add/overwrite custom rules here
    rules: {
        // React Native has JSX in JS files
        'react/jsx-filename-extension': ['error', { extensions: ['.js', '.jsx'] }],
        // React Native includes images via require('../images/example.png')
        'global-require': 'off',
        // Let variables be defined after use
        'no-use-before-define': ['error', { 'variables': false }],
        'import/no-extraneous-dependencies': 'off'
    },
    "globals": { "fetch": false, "requestAnimationFrame": true, 'alert': true },
    'env': {
        'jest': true
    }
}
